@keyframes blink {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.blink {
    animation: blink 3s linear infinite;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 5%;
    width: 100%;
    background: black;
    border-radius: 2%;
    top: 0;
    z-index: 900;
}

.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    z-index: 1001;
}

.hamburger span {
    width: 2rem;
    height: 0.25rem;
    background: #ffffff;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100vh;
    padding: 2rem;
    z-index: 999;
    overflow: hidden;
}

.menu a {
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1rem 0;
    letter-spacing: 0.5rem;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s linear;
}

@media screen {
    .navbar-default-menu {
        display: none;
    }
}

@media (min-width: 768px) {
    .hamburger {
        display: none;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        padding-top: 15px;
        padding-bottom: 8px;
        padding-left: 30px;
        padding-right: 30px;
        margin: auto;
        width: 100%;
        background: black;
        border-radius: 2%;
        top: 0;
        z-index: 900;
    }
    .navbar-default-menu {
        display: flex;
        flex-direction: row;
        position: static;
        width: auto;
        height: auto;
        background: black;
        justify-content: flex-end;
        @apply gap-2;
    }

    .navbar-default-menu .nav-link a:hover {
        --c: #1095c1; /* the color */
        --s: .15em;
        
        line-height:1.1em;
        padding-bottom: calc(2.1*var(--s));
        background: 
            conic-gradient(from 135deg at top,var(--c) 90deg,#0000 0) 
            left 0 bottom var(--s)/calc(2*var(--s)) var(--s) repeat-x,
            conic-gradient(from -45deg at bottom,var(--c) 90deg,#0000 0) 
            left var(--s) bottom 0/calc(2*var(--s)) var(--s) repeat-x;
        -webkit-mask:
            linear-gradient(#000 0 0) content-box,
            linear-gradient(#000 0 0) 0/var(--_p,0%) padding-box no-repeat;
        transition: .5s;
        --_p: 100%;
        color: var(--c);
    }
}
